# virtualenv
env/
env2/
env3/
.Python
/env

# python
*.pyc
__pycache__/

# C extensions
*.so

# distribution
dist/
*.egg-info/
build
.eggs

# testing
.cache
.pytest_cache

# editor

# docs
docs/_build
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
